.formSizeLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}


.textSize {
  height: 150px;
  width: 70%;
  
}


.formSize {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 100%;
}

.formSize .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  width: 60%;
  height: 70px;
}

.formSize h2 {
  padding-top: 30px;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Maven Pro", sans-serif;
  cursor: pointer;
}

.sectionCheckboxPassword {
  display: flex;
  align-items: center;
  margin-right: 100px;
  width: 300px;
  font-size: 20px;
  font-weight: lighter;
  font-family: "Maven Pro", sans-serif;
  
  
}


.formSize .sectionCheckboxPassword .checkboxPassword{
  height: 30px;
  width: 30px;
  cursor: pointer;
  
}

.checkboxPassword:checked::before {
  color: black;
}


.modalSize {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 88%;
  left: 10px;
  height: 70px;
  width: 170px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  border-radius: 10px;
  color: var(--oppositeColor);
  border: 3px solid var(--oppositeColor);

}

.modalSize .sucess {
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.containerPersonButton{
  margin-top: 50px;
}



