#loginAndRegisterButtonFull{
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--fontPrimary);
  cursor: pointer;
  color: var(--placeholderColor);
  background-color: var(--secundaryColor);
}

#loginAndRegisterButtonFull:active{
  background-color:  var(--hoverColor);
}

#loginAndRegisterButtonEmpty{
  height: 50px;
  width: 150px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--fontPrimary);
  cursor: pointer;
  color: var(--placeholderColor);
  background-color: var(--secundaryColor);
}

#loginAndRegisterButtonEmpty:active{
  background-color:  var(--hoverColor);
}

