.mainContext {
  position: fixed;
  border-radius: 10px;
  border: 2px solid white;
  background-color: var(--secundaryColor);
  width: 200px;
  animation: animated 0.5s forwards;
}

@keyframes animated {
  from {
    height: 50px;
  }
  to {
    height: 100px;
  }
}

.mainContext .newFile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.mainContext .newFile:hover {
  background-color: #1c2129;
}

.newFile h1 {
  color: var(--oppositeColor);
  font-size: 15px;
  font-weight: lighter;
  font-family: var(--fontSecundary);
}

.newFile img {
  margin-right: 10px;
  height: 20px;
}
.mainContext .newPaste {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49%;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.mainContext .newPaste:hover {
  background-color: #1c2129;
}

.newPaste h1 {
  color: var(--oppositeColor);
  font-size: 15px;
  font-weight: lighter;
  font-family: var(--fontSecundary);
}

.newPaste img {
  margin-right: 10px;
  height: 15px;
}
