.notErrorNewFolderAndNewFileTextFieldndRegister{
  width: 100%;
  height: 100%;
  padding-left: 5px;
  border: none;
  border: solid 1px var(--oppositeColor);
  border-radius: 5px;
  color: var(--placeholderColor);
  font-size: 15px;
  font-family: var(--fontSecundary);
  background-color: var(--primaryColor);
}

.notErrorNewFolderAndNewFileTextFieldndRegister::placeholder {
  color: var(--placeholderColor);
  font-family: var(--fontSecundary);
}

.errorNewFolderAndNewFileTextField {
  width: 100%;
  height: 40px;
  padding-left: 5px;
  color: var(--placeholderColor);
  border-radius: 5px;
  border-color: red;
  font-size: 15px;
  font-family: var(--fontSecundary);
  background-color: var(--primaryColor);
}

.errorNewFolderAndNewFileTextField::placeholder {
  color: var(--placeholderColor);
  font-size: 15px;
  font-family: var(--fontSecundary);
  color: red;
}

.notErrorNewFolderAndNewFileTextField {
  display: none;
}

.errorMessageNewFolderAndNewFileTextField {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  height: 30px;
}

.errorMessageNewFolderAndNewFileTextField img {
  height: 15px;
  margin-right: 5px;
}

.errorMessageNewFolderAndNewFileTextField label {
  width: 100%;
  font-size: 13px;
  font-family: "Maven Pro", sans-serif;
  color: red;
}
