* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #121212;
  --secundaryColor: #363638;
  --oppositeColor: white;
  --placeholderColor: #c2c5ca;
  --hoverColor: #0d3648;
  --fontSecundary: "Roboto", sans-serif;
  --fontPrimary: "Maven Pro", sans-serif;
}


.containerPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  min-height: 550px;
  background-color: var(--primaryColor);
  border-radius: 10px;
  border: 1px solid var(--secundaryColor);
}

#opacity{
  opacity: 0.5;
}

.containerPart .logoPart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 100px;
}

.containerPart .logoPart img {
  margin-top: 50px;
  height: 100px;
  border-radius: 20px;
}

.containerPart .textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 100%;
}

.containerPart .textSection h1 {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  color-scheme: light;
  font-family: Google Sans, Noto Sans Myanmar UI, arial, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.3333;
}



.containerPart .textSection h4 {
  height: 19px;
  width: 150px;
  padding-top: 8px;
  margin-bottom: 30px;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  box-sizing: inherit;
}


.containerPart .formSection {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 90%;
  height: 70px;
}

.loaderHidden{
  display: none;
}

.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}

.loader::after {
  content: '';
  width: 192px;
  height: 4.8px;
  background: #1A73E8;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.showPasswordSection{
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 90%;
  height: 25px;

}

.showPasswordSection .checkboxNotChecked{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100%;
  border: 2px solid var(--secundaryColor);
  cursor: pointer;
}

.showPasswordSection .checkboxChecked{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100%;
  border: 2px solid #5387db;
  background-color: #174EA6;
  cursor: pointer;
}

.checkboxChecked:hover{
  border: 2px solid white;
  background-color: #174EA6;
}

.showPasswordSection label {
  margin-left: 15px;
  font-size: 14px;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-weight: lighter;
  color: white;
}

#done{
  color: white;
}

    

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
