.containerBannerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: var(--secundaryColor);
}

.containerPersonButton{
  margin-top: 50px;
}


