.mainTag {
  height: 100vh;
  width: 100vw;
  background-color: var(--primaryColor);
}

.containerTopSize {
  display: flex;
  align-items: center;
  position: absolute;
  left: 250px;
  height: 60px;
  width: 75%;
}

.containerTopSize .search {
  display: flex;
  height: 70%;
  width: 70%;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #21252D;
  transition: background-color 0.3s ease;
}


.containerTopSize .search:hover{
  background-color: var(--secundaryColor);
}


.search .iconSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 7%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

.search .iconSearch img {
  height: 20px;
}

.search input {
  height: 100%;
  width: 85%;
  font-size: 15px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  border: none;
  background-color: #21252D;
  color: white;
  outline: none;
}

.search input::placeholder {
  font-size: 15px;
  font-weight: bold;
  font-family: var(--fontSecunday);
  color:var(--placeholderColor);
}

.search:hover input {
  background-color: transparent;
}

.iconFillter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 7%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}

.iconFillter img{
  height: 25px;
}

.containerLeftSize {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

.containerLeftSize .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.containerLeftSize .title img {
  margin-right: 15px;
  height: 70px;
  cursor: pointer;
}

.containerLeftSize .title h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--fontSecundary);
  color: var(--oppositeColor);
}

.containerLeftSize .newButton {
  margin-left: 20px;
  width: 100px;
  height: 50px;
}
