.containerBannerRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: var(--secundaryColor);
}


.containerPersonButton{
  margin-top: 50px;
}

